# Dépendances
node_modules/

# Build
dist/

# Cache Vite
.vite/

# Cache TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*

# Éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
